### Importación de datos

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

'''
tienda.info()
tienda2.info()
tienda3.info()
tienda4.info()
'''
#PRODUCTOS DE CADA TIENDA
articulos_tienda = tienda['Categoría del Producto'].unique()
articulos_tienda2 = tienda2['Categoría del Producto'].unique()
articulos_tienda3 = tienda3['Categoría del Producto'].unique()
articulos_tienda4 = tienda4['Categoría del Producto'].unique()

#METODOS DE PAGO POR CADA TIENDA
mpago_tienda = tienda['Método de pago'].unique()
mpago_tienda2 = tienda2['Método de pago'].unique()
mpago_tienda3 = tienda3['Método de pago'].unique()
mpago_tienda4 = tienda4['Método de pago'].unique()


#CATEGORIAS DE LOS PRODUCTOS
categorias_tienda = tienda['Categoría del Producto'].unique()
categorias_tienda2 = tienda2['Categoría del Producto'].unique()
categorias_tienda3 = tienda3['Categoría del Producto'].unique()
categorias_tienda4 = tienda4['Categoría del Producto'].unique()

coordenadas_tienda = tienda['lat'].unique()
print(coordenadas_tienda)

[ 4.60971  6.25184 10.39972  3.43722 11.24079  4.81333 10.96854  4.142
  3.8653   7.89391  5.06889  2.9273   7.12539 10.46314  1.21361 11.54444
  4.53389 -4.21528  4.57937]

#1. Análisis de facturación

# 2. Ventas por categoría

In [3]:
tienda.info()
tienda2.info()
tienda3.info()
tienda4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2358 entries, 0 to 2357
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2358 non-null   object
 1   Categoría del Producto  2358 non-null   object
 2   Precio                  2358 non-null   float64
 3   Costo de envío          2358 non-null   float64
 4   Fecha de Compra         2358 non-null   object
 5   Vendedor                2358 non-null   object
 6   Lugar de Compra         2358 non-null   object
 7   Calificación            2358 non-null   int64
 8   Método de pago          2358 non-null   object
 9   Cantidad de cuotas      2358 non-null   int64
 10  lat                     2358 non-null   float64
 11  lon                     2358 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.2+ KB

(2359, 12)

In [9]:
print(f"Tienda   * Filas {tienda.shape[0]} Columnas {tienda.shape[1]}")
print(f"Tienda 2 * Filas {tienda2.shape[0]} Columnas {tienda2.shape[1]}")
print(f"Tienda 3 * Filas {tienda3.shape[0]} Columnas {tienda3.shape[1]}")
print(f"Tienda 4 * Filas {tienda4.shape[0]} Columnas {tienda4.shape[1]}")

Tienda   * Filas 2359 Columnas 12
Tienda 2 * Filas 2359 Columnas 12
Tienda 3 * Filas 2359 Columnas 12
Tienda 4 * Filas 2358 Columnas 12

### ***Facturacion Total por tienda***

In [50]:
ventas = []
totalTienda  = tienda['Precio'].sum()
totalTienda2 = tienda2['Precio'].sum()
totalTienda3 = tienda3['Precio'].sum()
totalTienda4 = tienda4['Precio'].sum()

ventas.append(totalTienda)
ventas.append(totalTienda2)
ventas.append(totalTienda3)
ventas.append(totalTienda4)

ventaTotal = [totalTienda,totalTienda2,totalTienda3,totalTienda4]

print(f"Total venta TIENDA  : {totalTienda:,.2f}")
print(f"Total venta TIENDA2 : {totalTienda2:,.2f}")
print(f"Total venta TIENDA3 : {totalTienda3:,.2f}")
print(f"Total venta TIENDA4 : {totalTienda4:,.2f}")
print()
print(f"Total venta TOTAL   : {totalTienda+totalTienda2+totalTienda3+totalTienda4:,.2f}")
print()
print()
print(f"Tienda con mayor venta : {max(ventas)}")
print(f"Tienda con menor venta : {min(ventas)}")


#ventaTotal = tienda['Precio'].sum(),tienda2['Precio'].sum(),tienda3['Precio'].sum(),tienda4['Precio'].sum()
#print(ventaTotal)

Total venta TIENDA  : 1,150,880,400.00
Total venta TIENDA2 : 1,116,343,500.00
Total venta TIENDA3 : 1,098,019,600.00
Total venta TIENDA4 : 1,038,375,700.00

Total venta TOTAL   : 4,403,619,200.00


Tienda con mayor venta : 1150880400.0
Tienda con menor venta : 1038375700.0

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda